{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1>Заголовок: {{ book.title }}</h1>
    <p><strong>Автор:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
{#    <p><strong>Автор:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>#}
    <p><strong>Краткое изложение:</strong> {{ book.summary }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Язык:</strong> {{ book.language }}</p>
    <p><strong>Жанр:</strong> {% for genre in book.genre.all %}
        {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Копии</h4>

        <!-- вернуть множество записей BookInstance, связанных с данной книгой Book -->
        {% for copy in book.bookinstance_set.all %}
            <!-- итерации по каждой копии/экземпляру книги -->
            <hr>
            <p class="
            {% if copy.status == 'о' %}
                text-success
            {% elif copy.status == 'н' %}
                text-danger
            {% else %}
                text-warning
            {% endif %}">
                {{ copy.get_status_display }}
            </p>
            {% if copy.status != 'о' %}
                <p><strong>В связи с возвратом:</strong> {{ copy.due_back }}</p>
            {% endif %}
            <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
            <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
        {% endfor %}
    </div>
{% endblock %}