{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1>Список книг</h1>
    {% if book_list %}
    <!-- здесь наш код "бежит" по списку книг -->
    <ul>
        {% for book in book_list %}
            <li>
                <!-- здесь код, который использует информацию из каждого элемента book списка-->
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                ({{ book.author }})
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>В библиотеке нет книг</p>
    {% endif %}
{% endblock %}